*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.coming-soon {
    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    
}
.logo {
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}



/* currency style start */
.currency-convert  {
  background-image: url(../images/winter.jpg);
  min-width: 40rem;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: .8rem;
  padding: 30px;
}
.currency-convert .currency-tittle {
  text-align: center;
  color: #fff;
  padding: 2rem 0rem;
    font-weight: 800;
}


.currency-convert .convert-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.currency-convert .convert-box .box {
  margin: 1rem;
}

.currency-convert .convert-box .box p {
  color: honeydew;
}

.currency-convert .convert-box .box input {
  height: 1.7rem;
  border-radius: .2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 12rem;
      
}

.currency-convert .convert-box .box select {
  width: 10rem;
  border: none;
  outline: none;
  border-radius: .2rem;
  height: 2rem;
  font-size: 1.2rem;
      
}

.currency-convert .convert-btn {
  text-align: center;
  margin: 1rem;
      
}

.currency-convert .convert-btn input {
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  background: green;
  color: #fff;
  border: none;
  outline: none;
  border-radius: .2rem;
      
}

.currency-convert .convert-btn input:hover {
  cursor: pointer;
  background: greenyellow;
}

.currency-convert .display-result {
  text-align: center;
  color: yellow;
  padding: 1rem;
      font-size: 2rem;
    font-weight: 600;
}
/* currency style end */